{{>header}}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <h5><i class='bx bxs-add-to-queue'></i> Add Genre</h5>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <form action="/genre" method="POST">
                            <label for="genre" class="form-label">Name Genre</label>
                            <input type="text" class="form-control" autocomplete="off" id="genre"
                                placeholder="Enter Genre Name" name="genre">
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary d-flex ms-auto p-2">
                        <i class='bx bxs-send'></i>
                    </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-hover table-bordered text-center">
                <thead class="bg-light">
                    <tr>
                        <th scope="col">Name Genre</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>
                            <button onclick="deleteData({{this.id}})" class="btn btn-danger">
                                <i class='bx bxs-trash-alt'></i>
                            </button>
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#update{{this.id}}">
                                <i class='bx bxs-pencil'></i>
                            </button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Update -->
{{#each data}}
<div class="modal fade" id="update{{this.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class='bx bxs-pencil'></i> Ubah Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <form action="/update-genre/{{this.id}}" method="POST">
                        <label for="genre" class="form-label">Nama Genre</label>
                        <input type="text" class="form-control" value="{{this.name}}" autocomplete="off" id="genre"
                            required="" placeholder="Masukkan Nama Dari Genre" name="genre">
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">
                    <i class='bx bxs-send'></i>
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
{{/each}}

{{!-- Notifikasi --}}
{{#if message}}
<script>
    Swal.fire({
        icon: '{{message.icon}}',
        title: '{{message.title}}'
    });
</script>
{{/if}}

{{!-- Delete Data --}}
<script>
    function deleteData(id) {
        Swal.fire({
            title: 'Are You Sure ?',
            text: "",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Delete'
        }).then((result) => {
            if (result.isConfirmed) {
                location.href = `/delete-genre/${id}`;
            }
        })
    }
</script>

{{>footer}}